<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="KGB Data app" content="Data Application Symfony Bootstrap 5"/>
        <meta name="description"
              content="une application que présente les mission des agents dans les 4 coin du monde" />
        <meta name="author" content="Ali BEN SAIAD" />
        <meta name="copyright" content="propriétaire du copyright" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'base/nav.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
